<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhjf.salesman.service.mapper.LoginMapper">


	<!--   用户登录 -->
	<select id="login" parameterType="java.util.HashMap" resultType="com.rhjf.account.modle.domain.salesman.LoginUser" >
		select * from tab_loginuser where loginid=#{loginid}
		<if test="BankInfoStatus!=null">
			and BankInfoStatus=#{BankInfoStatus}
		</if>
	</select>

	<!--  更新用户登录信息 -->
	<update id="updateUserLoginInfo" parameterType="com.rhjf.account.modle.domain.salesman.LoginUser" >
		update tab_loginuser set LastLoginTime=#{lastLoginTime} , LoginPSN=#{loginPSN} where LoginID=#{loginID}
	</update>
	
	<!--   修改密码  -->
	<update id="updatepwd" parameterType="com.rhjf.account.modle.domain.salesman.LoginUser">
		update tab_loginuser set LoginPwd=#{loginPwd} where loginID=#{loginID};
	
	</update>
 	
 	<!--  录入商户  -->
	<insert id="addMerchant" parameterType="com.rhjf.account.modle.domain.salesman.LoginUser">
		insert into tab_loginuser (ID,LoginID,LoginPwd,ThreeLevel,Name,IDCardNo,AgentID,MerchantPersonName,MerchantBillName,
		MerchantName,MerchantTypeValue,RegisterTime, MerchantLeve , BankInfoStatus , PhotoStatus , State,City,Region ,Address , BusinessLicense ,
		 SalesManID , UserType , NeedLogin , Remarks ) values (
		#{iD},#{loginID},#{loginPwd},#{threeLevel},#{name},#{iDCardNo},#{agentID},#{merchantPersonName},#{merchantBillName} ,
		#{merchantName},#{merchantTypeValue},#{registerTime} , #{merchantLeve},#{bankInfoStatus} , #{photoStatus} , #{state},#{city},#{region} , #{address},
		#{businessLicense}, #{salesManID} , #{userType} , #{needLogin} , #{remarks})
	</insert>


	<!-- 商户列表 -->
	<select id="merchantlist" parameterType="java.util.Map" resultType="java.util.HashMap">
		select ID , LoginID, merchantName , 0 as count , concat(MerchantLeve,'') as MerchantLeve ,  concat(PhotoStatus,'') as PhotoStatus  ,
		 DATE_FORMAT(RegisterTime,'%Y-%m-%d') as RegisterTime ,  DATE_FORMAT(RegisterTime,'%Y-%m-%d %H:%m:%s') as times
		 from tab_loginuser where  ThreeLevel=#{userID}
		 and MerchantName like concat('%',concat(#{merchantName} , '%')) order by  times DESC
	</select>

	<!-- 查询某一个商户为业务员制造的收益 -->
	<select id="queryMerchantTotalAmount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select concat(ifnull(sum(DistributeProfit)+sum(Profit) , 0) , '') as Amount from tab_salesman_profit where TradeUserID in (
		select ID from tab_loginuser where (ThreeLevel=#{merchantID} or TwoLevel=#{merchantID}
		or ID=#{merchantID})) and SalesManID=#{UserID}
	</select>


	<!-- 查询某一个商户可以为业务员增加收益的拓客数量 -->
	<select id="merchantTokerCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
		  select count(1) as count from tab_loginuser where (ThreeLevel=#{merchantID} and TwoLevel=#{UserID}) or
		  (TwoLevel=#{merchantID} and OneLevel=#{UserID});
	</select>

	<!-- 用户提现 -->
	<select id="txProfit" parameterType="java.util.HashMap" resultType="java.lang.Integer" statementType="CALLABLE">
		{call tixian(
		   #{in_loginID , mode=IN,jdbcType=VARCHAR},
			#{in_amount ,mode=IN,jdbcType=VARCHAR},
			#{in_termSerno , mode=IN,jdbcType=VARCHAR},
			#{in_txType , mode=IN,jdbcType=VARCHAR},
			#{in_accountNo , mode=IN,jdbcType=VARCHAR},
			#{ret , mode=OUT,jdbcType=INTEGER}
			)
		}
	</select>


	<!-- 用户提现列表 -->
	<select id="TxRecordList" parameterType="java.util.Map" resultType="java.util.HashMap">
		select ApplyDate,ApplyMoney,TermSerno,BalanceFlag , s.AccountNo , tpb.bankName ,
		case cardName when 'DEBIT_CARD' then '储蓄卡' when 'CREDIT_CARD' then '信用卡' end  as cardName ,
		tpb.bankCode as BankSybol
 		from tab_withdraw s left JOIN tab_pay_binverify as tpb on SUBSTRING(s.AccountNo , 1 , tpb.verifyLength)= tpb.verifyCode
		where  ApplyUserID=#{userID} and left( ApplyDate , 7 )=#{tradeDate} and TxType=0 order by ApplyDate desc
	</select>



	<update id="updatePhotoInfo" parameterType="java.util.Map">
		update tab_loginuser set HandheldIDPhoto=#{HandheldIDPhoto} , IDCardFrontPhoto=#{IDCardFrontPhoto},
		IDCardReversePhoto=#{IDCardReversePhoto} ,  BankCardPhoto=#{BankCardPhoto} , BusinessPhoto=#{BusinessPhoto} ,
				 PhotoStatus=1 where LoginID=#{loginID}
	</update>


	<!-- 更改用户结算卡状态 -->
	<update id="updateUserBankStatus" parameterType="com.rhjf.account.modle.domain.salesman.LoginUser">
		update tab_loginuser set BankInfoStatus=#{bankInfoStatus} , Remarks=#{remarks} where LoginID=#{loginID}
	</update>


	<!-- 商户等级修改 -->
	<update id="updateMerchantLevel" parameterType="java.util.Map">
		update tab_loginuser set MerchantLeve=#{merchantLevel} where LoginID=#{loginID}
	</update>


	<!-- 查询商户直接拓客数量 -->
	<select id="tokerCount" resultType="java.lang.Integer">
		  select count(1) as count from tab_loginuser where ThreeLevel=#{userID}
	</select>

</mapper>