<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhjf.salesman.service.mapper.SalesManProfitMapper">


	<!--  查询业务员的总收益 -->
	<select id="profitTotal" parameterType="java.lang.String" resultType="java.util.HashMap" >
		  select ifnull(sum(DistributeProfit) , 0) as distributeProfit , ifnull(sum(Profit) , 0) as profit ,
		   ifnull(sum(DistributeProfit),0) + ifnull(sum(Profit),0)  as totalProfit
		  from tab_salesman_profit  where SalesManID=#{salesManID}
	</select>



	<!-- 查询某天收益列表 -->
	<select id="profitDetailByDay" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select tl.MerchantName , tpo.Amount , Profit , DistributeProfit ,Profit+DistributeProfit as profitTotal , DATE_FORMAT(CONCAT(LocalDate,LocalTimes),'%Y-%m-%d %H:%i:%s') as tradeTime
		from tab_loginuser as tl INNER JOIN tab_pay_order as tpo on tl.ID=tpo.UserID
		INNER JOIN tab_salesman_profit as tsp on tl.SalesManID=tsp.SalesManID and tsp.TradeID=tpo.ID
		 where tpo.PayRetCode='0000' and tsp.SalesManID=#{salesManID} and tpo.LocalDate=#{toDay} and Profit+DistributeProfit > 0 order by tradeTime DESC

	</select>


	<!--  查询某天收益总和 -->
	<select id="profitTotalByDay" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select CONCAT(DATE_FORMAT(TradeDate,'%Y%m%d'),'') as  LocalDate ,  ifnull(sum(DistributeProfit)+sum(Profit) , 0)  as amount
		, sum(DistributeProfit) as  distributeProfit  , sum(Profit)  as profit
 		from tab_salesman_profit where date(TradeDate)=#{tradeDate} and SalesManID=#{salesManID};
	</select>


	<!--  按天查询 收益折线数据 -->
	<select id="profitDetailByDayCurve" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		 select TotalProfit as amount , CONCAT(DATE_FORMAT(EarningsDate,'%Y%m%d'),'') as  LocalDate  from tab_salesman_dailyincome
		 where SalesManID=#{salesManID} and date(EarningsDate) BETWEEN  #{startTime} and #{endTime} order by LocalDate

	</select>


	<!-- 查询业务员月收益总数 -->
	<select id="profitMonth" parameterType="java.util.Map" resultType="java.util.Map">
		select  ifnull(sum(Profit+DistributeProfit) , 0) as totalProfit
		from tab_loginuser as tl INNER JOIN tab_pay_order as tpo on tl.ID=tpo.UserID
		INNER JOIN tab_salesman_profit as tsp on tl.SalesManID=tsp.SalesManID and tsp.TradeID=tpo.ID
		 where tpo.PayRetCode='0000' and tsp.SalesManID=#{salesManID} and left(LocalDate,6)=#{tradeDate}
	</select>


	<!-- 月报详细数据 -->
	<select id="monthlyReportDetailed" parameterType="java.util.Map" resultType="java.util.HashMap">
		select tl.MerchantName , tpo.Amount , Profit , DistributeProfit ,Profit+DistributeProfit as profitTotal ,
		DATE_FORMAT(CONCAT(LocalDate,LocalTimes),'%Y-%m-%d %H:%i:%s') as tradeTime
		from tab_loginuser as tl INNER JOIN tab_pay_order as tpo on tl.ID=tpo.UserID
		INNER JOIN tab_salesman_profit as tsp on tl.SalesManID=tsp.SalesManID and tsp.TradeID=tpo.ID
		 where tpo.PayRetCode='0000' and tsp.SalesManID=#{salesManID} and left(tpo.LocalDate,6)=#{date} and Profit+DistributeProfit>0 order by tradeTime desc
	</select>
</mapper>