<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhjf.salesman.service.mapper.SalesManBulletinMapper">



	<select id="salesManBulletinList" parameterType="java.util.Map" resultType="com.rhjf.account.modle.domain.salesman.SalesManBulletin">

		select * from tab_salesman_bulletin where AgentID = #{agentID} and SalesmanID=#{salesmanID}

	</select>


	<!-- 业务员公告 未读条数 -->
	<select id="unreadCount" parameterType="java.lang.String"  resultType="java.lang.Integer">
		select count(1) as count from tab_salesman_bulletin where AgentID = #{agentID} and SalesmanID=#{salesmanID} and ReadingStatus=0
	</select>


	<select id="getSalesmanBulletinDetail" parameterType="java.lang.String" resultType="com.rhjf.account.modle.domain.salesman.SalesManBulletin">

		select * from tab_salesman_bulletin where ID = #{ID}

	</select>

</mapper>