<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhjf.salesman.service.mapper.SalesManProfitMapper">


	<!--  查询业务员的总收益 -->
	<select id="profitTotal" parameterType="java.lang.String" resultType="java.util.HashMap" >
		  select concat(ifnull(sum(DistributeProfit) , 0),'') as distributeProfit , concat(ifnull(sum(Profit) , 0),'') as profit
		  from tab_salesman_profit  where SalesManID=#{salesManID}
	</select>


	<!-- 某天的收益总和 -->
	<select id="profitTotalByDay"  parameterType="java.util.Map" resultType="java.util.HashMap" >

		  select concat(ifnull(sum(DistributeProfit) , 0),'') as distributeProfit , concat(ifnull(sum(Profit) , 0),'') as profit
		  from tab_salesman_dailyincome
		 where SalesManID=#{salesManID} and date(EarningsDate)=#{date};


	</select>


	<!-- 查询某天收益列表 -->
	<select id="profitDetailByToDay" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select tl.MerchantName , tpo.Amount , Profit , DistributeProfit ,Profit+DistributeProfit as profitTotal , DATE_FORMAT(CONCAT(LocalDate,LocalTimes),'%Y-%m-%d %H:%m:%s') as tradeTime
		from tab_loginuser as tl INNER JOIN tab_pay_order as tpo on tl.ID=tpo.UserID
		INNER JOIN tab_salesman_profit as tsp on tl.SalesManID=tsp.SalesManID and tsp.TradeID=tpo.ID
		 where tpo.PayRetCode='0000' and tsp.SalesManID=#{salesManID} and tpo.LocalDate=#{toDay}

	</select>

	<!--  按天查询 收益折线数据 -->
	<select id="profitDetailByDayCurve" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		 select TotalProfit as amount , CONCAT(DATE_FORMAT(EarningsDate,'%Y%m%d'),'') as  LocalDate  from tab_salesman_dailyincome
		 where SalesManID=#{salesManID} and date(EarningsDate) BETWEEN  #{startTime} and #{endTime} order by LocalDate

	</select>


	<!-- 查询业务员月收益总数 -->
	<select id="profitMonth" parameterType="java.util.Map" resultType="java.util.Map">
		select  concat(ifnull(sum(Profit+DistributeProfit) , 0),'') as totalProfit
		from tab_loginuser as tl INNER JOIN tab_pay_order as tpo on tl.ID=tpo.UserID
		INNER JOIN tab_salesman_profit as tsp on tl.SalesManID=tsp.SalesManID and tsp.TradeID=tpo.ID
		 where tpo.PayRetCode='0000' and tsp.SalesManID=#{salesManID} and left(LocalDate,6)=#{tradeDate}
	</select>


	<!-- 查询业务员月报数据 -->
	<select id="monthlyReport" parameterType="java.lang.String" resultType="java.util.HashMap">

		SELECT  left(TradeDate,4) as year ,SUBSTR(TradeDate FROM 6 FOR 2) as month , count(1) as count , concat(ifnull(sum(DistributeProfit),0)+ifnull(SUM(Profit),0),'') as amount
		 FROM tab_salesman_profit where SalesManID=#{salesManID} GROUP BY LEFT(TradeDate,7) ORDER  by  year desc , month desc  ;

	</select>



	<select id="monthlyReportDetailed" parameterType="java.util.Map" resultType="java.util.HashMap">
		select tl.MerchantName , tpo.Amount , Profit , DistributeProfit ,Profit+DistributeProfit as profitTotal , DATE_FORMAT(CONCAT(LocalDate,LocalTimes),'%Y-%m-%d %H:%m:%s') as tradeTime
		from tab_loginuser as tl INNER JOIN tab_pay_order as tpo on tl.ID=tpo.UserID
		INNER JOIN tab_salesman_profit as tsp on tl.SalesManID=tsp.SalesManID and tsp.TradeID=tpo.ID
		 where tpo.PayRetCode='0000' and tsp.SalesManID=#{salesManID} and left(tpo.LocalDate,6)=#{toDay}
	</select>
</mapper>