<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhjf.salesman.service.mapper.TermkeyMapper">


		<!--  用户签到更新秘钥 -->
	<update id="sign" parameterType="com.rhjf.account.modle.domain.salesman.TermKey">
<!--  , PinKey=#{pinKey} , TDKey=#{tDkey} -->
		update tab_termkey set MacKey=#{macKey} where UserID=#{userID}
	</update>
	
	<!--   查询用户秘钥 -->
	<select id="queryUserKey" parameterType="java.lang.String" resultType="com.rhjf.account.modle.domain.salesman.TermKey">
		select * from tab_termkey where UserID = #{userID}
	</select>
	
	<!--  新用户分配秘钥 -->
	<insert id="addTermKey" parameterType="com.rhjf.account.modle.domain.salesman.TermKey">
		insert into tab_termkey(ID,UserID,TmkKey,TermTmkKey) values(#{ID},#{userID},#{tmkKey},#{termTmkKey})
	</insert>
	

	
</mapper>