<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhjf.salesman.service.mapper.UserPropertiesMapper">


	<select id="getUserProperties" parameterType="java.lang.String" resultType="com.rhjf.account.modle.domain.salesman.UserProperties">
		  select * from tab_user_properties where UserID=#{userID}
	</select>

	<insert id="addUserProperties" parameterType="com.rhjf.account.modle.domain.salesman.UserProperties">
		insert into tab_user_properties (ID,UserID,MerchantLevelDate) values
		(#{ID} , #{userID} , #{merchantLevelDate})
	</insert>

	<update id="updateUserProperties" parameterType="com.rhjf.account.modle.domain.salesman.UserProperties">
		update tab_user_properties set MerchantLevelDate=#{merchantLevelDate} where ID=#{ID}
	</update>

</mapper>